* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #525252;
}

#container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 9fr;
    height: 100vh;
}

header {
    background-color: #0359a1;
    box-shadow: 0 3px 3px 3px #000;
    display: flex;
    grid-area: 1 / 1 / 2 / 3;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f9faf8;
    font-family: "URW Chancery L";
    font-size: 3.8rem;
    text-shadow: 4px 4px #000;
    margin: 25px 0;
}

/* Sidebar */

.sidebar {
    background-color: #0359a1;
    grid-area: 2 / 1 / 3 / 2;
    padding: 20px 0;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.add-book > p {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-family: "URW Chancery L";
    text-shadow: 4px 4px #000;
    color: #f9faf8;
}

.add-book > button {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 50%;
    color: #000;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 4px 2px #c0c0c0;
}

.green {
    background-color: #84cc1688;
}

.green:hover {
    background-color: #84cc16ff;
}

.red {
    background-color: #b91c1c88;
}

.red:hover {
    background-color: #b91c1cff;
}

/* Add Book Form */

form {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=number] {
    width: 100%;
    margin: 10px 0 25px;
    padding: 10px;
    border: none;
    background-color: #312e81;
    color: #f9faf8;
    font-size: 1.3rem;
}

input[type=text]:focus, input[type=number]:focus {
    outline: none;
}

label {
    font-size: 1.5rem;
    color: #f9faf8;
}

label[for=read] {
    align-self: center;
}

input[type=checkbox] {
    height: 25px;
}

form .btn {
    margin: 15px auto 0;
    padding: 10px;
    background-color: #04aa6d;
    color: #fff;
    font-size: 1.5rem;
    width: 90%;
    cursor: pointer;
    opacity: .8;
}

form .btn:hover {
    opacity: 1;
}

.close {
    display: none;
}

.open {
    visibility: visible;
}

/* Main Library */

main {
    grid-area: 2 / 2 / 3 / 3;
    padding: 25px 0;
}

main > div {
    margin: 5px auto;
    padding: 10px;
    width: 90%;
    border-radius: 15px;
}

main > div:nth-child(odd) {
    background-color: #f9faf8;
}

main > div:nth-child(even) {
    background-color: #c0c0c0;
}
